{% extends 'base.html' %}
{% load static %}

{% block title %} Accessories {% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Accessories</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <col style="width:10%">
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Cost</th>
                            <th>Manufacturer</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Page</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Cost</th>
                            <th>Manufacturer</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for accessory in object_list %}
                        <tr>
                            <td><a href="{{ accessory.get_absolute_url }}" class="btn btn-primary btn-user btn-block">Page</a></td>
                            <td>{{ accessory.name }}</td>
                            <td>{{ accessory.status }}</td>
                            <td>{{ accessory.cost }}</td>
                            <td>{{ accessory.manufacturer }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'accessory-create' %}" class="btn btn-primary btn-user btn-block">New Accessory</a>
        </div>
    </div>
</div>
{% endblock %}
