{% extends 'base.html' %}
{% load static %}

{% block title %} Password Reset {% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="p-5">
                                <div class="text-center">
                                    <p class="lead text-gray-900 mb-3">Password Reset</p>
                                    <p class="lead text-gray-700 mb-3">We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'index' %}">&larr; Back to Dashboard</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'login' %}">&larr; Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
